<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVVr4aXfHDl4pAcarL3TyIGIWD_x-jJao</string>
	<key>GCM_SENDER_ID</key>
	<string>62925734335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDemo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-f1f61</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-f1f61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62925734335:ios:a277bbd52599e43d66a10a</string>
</dict>
</plist>